body { 
	background-color : grey;
	margin-left: 22%;
	margin-right: 22%;	
	border: 3px dotted blue;
	padding: 10px 10px 10px 10px
	font-famil:Arial,sans-serif;
	}
p{
	text-align: center;
	color: white;
}
h1, h2{
	background-color: lightblue;
    text-align: center;
    color: red;
}

.main-header{
	text-align: center;
}

img.comic {
    border:1px solid red;
}